*{
    font-family: 'Roboto Slab', serif;
}
#logo{
    width: 100px;
    height: 100px;
}
#lastBooks{
    color:#E2484A;
    text-shadow: 3px 3px 2px #517EA8;
}

.divCategorias{
    margin-top:3%;
    height: 80px;
   
  }
.enlacesCategorias:hover{
    color:white;
}
.enlacesCategorias{
    color: #373737 !important;
}
.contenedorDiv{
    margin-bottom:3%;
}

.librosBuscados{
    padding-top: 3%;
    padding-bottom: 3%;
}

.imgFondo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
.barraNavegacion{
    background-size:100%;
}

#barraSuperior{
    background:rgba(0, 0, 0, 0.880);
}

.elementosNav{
    font-size: 19px;
    color:#E84A4C !important;
    text-shadow: 0.5px 1px 1px black !important;
}
.btnLog{
    color:#E84A4C;    
}

a:link{
    color:#E84A4C;    

}
a:visited{
    color:#E84A4C;
}
a:hover{
    color:rgb(173, 20, 23);
}



.estiloPie{
    color: white;
    background:rgba(0, 0, 0, 0.637);
}

.botonCerrar{
    color: #3B3429;
}
#margenPie{
    margin-top:5%;
}
#margenPaginas{
    margin-bottom: 1.5%;
}
.contenidoModal{
    margin-left:15%;
    padding-bottom: 3%;
}
.cabeceraModal{
    background: #23272B ; 
    color:#DC3545;
    
}
.pieModal{
    background: rgb(134, 191, 230);
    background-image: url("recorteLibro.png");
}

#fixed-sidebar {
    position: fixed;
    max-width: 20%;
    color: white;
}

.colorFooter{
    background: rgb(99, 99, 201);
}

.tamañoModal{
    overflow-y: scroll;
    max-height: 500px;
}
.imgSlider{
    width: 200px;
    height: 350px;
}

.tamañoTarjeta{
    width: 250px;
}
.imgTarjeta{
    width: 250px;
    height: 350px;
}

body{
    background: white;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to left, #6c77d4, #cc2135);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to left, #6c77d4, #cc2135); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
/*
#botonInicio, #botonRegistro{
    width:15%;
}
*/

.transparencia{
    background:rgba(0, 0, 0, 0.808);
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#buscador{
    width: 700px;
    height:50px;
}
#buscador2{
    width:200px;
    height:50px;
}
#buscador:focus{
    border-color:#E84A4C;
    box-shadow: 0 0 0 0.5px #E84A4C;
}
#buscador2:focus{
    border-color:#E84A4C;
    box-shadow: 0 0 0 0.5px #E84A4C;
}
.liBuscador{
    list-style:none;
}
.liBuscador2{
    width:17%;
    list-style:none;
}
.divCategorias {
    transition: .5s ease;
}
    
.divCategorias:hover{
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737,
    5px 5px #373737,
    6px 6px #373737;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}
.categoria0{
    background:rgb(241, 56, 56)!important;
}
.categoria1{
    background:rgb(232, 235, 85)!important;
}
.categoria2{
    background:rgba(112, 235, 96, 0.88)!important;
}
.categoria3{
    background:rgba(93, 209, 209, 0.88)!important;
}
.categoria4{
    background:rgba(212, 95, 228, 0.88)!important;
}
.categoria5{
    background:rgba(58, 245, 33, 0.88)!important;
}
.categoria6{
    background:rgb(236, 43, 43)!important;
}
.categoria7{
    background:rgba(41, 247, 247, 0.88)!important;
}
.categoria8{
    background:rgba(220, 54, 241, 0.88)!important;
}
.categoria9{
    background:rgb(238, 241, 54)!important;
}
.categoria10{
    background:rgba(58, 245, 33, 0.88)!important;
}
.categoria11{
    background:rgb(236, 43, 43)!important;
}
.categoria12{
    background:rgba(41, 247, 247, 0.88)!important;
}
