*{
    font-family: 'Roboto Slab', serif;
}
#logo{
    width: 100px;
    height: 100px;
}
#lastBooks{
    color:#E2484A;
    text-shadow: 3px 3px 2px #517EA8;
}


.librosBuscados{
    padding-top: 3%;
    padding-bottom: 3%;
}

.imgFondo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
.barraNavegacion{
    background-size:100%;
}

#barraSuperior{
    background:rgba(0, 0, 0, 0.880);
}

.elementosNav{
    font-size: 19px;
    color:#E84A4C !important;
    text-shadow: 0.5px 1px 1px black !important;
}
.btnLog{
    color:#E84A4C;    
}

a:link{
    color:#E84A4C;    

}
a:visited{
    color:#E84A4C;
}
a:hover{
    color:rgb(173, 20, 23);
}



.estiloPie{
    color: white;
    background:rgba(0, 0, 0, 0.637);
}

.botonCerrar{
    color: #3B3429;
}
#margenPie{
    margin-top:5%;
}
#margenPaginas{
    margin-bottom: 1.5%;
}
.contenidoModal{
    margin-left:15%;
    padding-bottom: 3%;
}
.cabeceraModal{
    background: #23272B ; 
    color:#DC3545;
    
}
.pieModal{
    background: rgb(134, 191, 230);
    background-image: url("recorteLibro.png");
}

#fixed-sidebar {
    position: fixed;
    max-width: 20%;
    color: white;
}

.colorFooter{
    background: rgb(99, 99, 201);
}

.tamañoModal{
    overflow-y: scroll;
    max-height: 500px;
}
.imgSlider{
    width: 200px;
    height: 350px;
}

.tamañoTarjeta{
    width: 250px;
}
.imgTarjeta{
    width: 250px;
    height: 350px;
}

body{
    background: white;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to left, #6c77d4, #cc2135);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to left, #6c77d4, #cc2135); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
/*
#botonInicio, #botonRegistro{
    width:15%;
}
*/

.transparencia{
    background:rgba(0, 0, 0, 0.808);
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#buscador{
    width: 700px;
    height:50px;
}
#buscador2{
    width:200px;
    height:50px;
}
#buscador:focus{
    border-color:#E84A4C;
    box-shadow: 0 0 0 0.5px #E84A4C;
}
#buscador2:focus{
    border-color:#E84A4C;
    box-shadow: 0 0 0 0.5px #E84A4C;
}
.liBuscador{
    list-style:none;
}
.liBuscador2{
    width:17%;
    list-style:none;
}