/*.bb-item img{
	width: 750px;
	height: 530px;
}*/
.bb-custom-wrapper nav input{
	width: 30px;
	height: 30px;
	background: black;
	text-align: center;
	border-radius: 2px;
	color: #fff;
	margin: 2px;
}
