<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Limitar el numero de caracteres en un textarea y input</title>
    <script>
        var cont=0;
        // Funcion para limitar el numero de caracteres de un textarea o input
        // Tiene que recibir el evento, valor y número máximo de caracteres
        function limitar(e, contenido, caracteres)
        {
            
            // obtenemos la tecla pulsada
            var unicode=e.keyCode? e.keyCode : e.charCode;
 
            // Permitimos las siguientes teclas:
            // 8 backspace
            // 46 suprimir
            // 13 enter
            // 9 tabulador
            // 37 izquierda
            // 39 derecha
            // 38 subir
            // 40 bajar
            if(unicode==8 || unicode==46 || unicode==13 || unicode==9 || unicode==37 || unicode==39 || unicode==38 || unicode==40)
                return true;
 
            // Si ha superado el limite de caracteres devolvemos false
            if(contenido.length>=caracteres)
           
          

                return false;
 
            //return true;
        }
    </script>
</head>
 
<body>

    <p>
         100 caracteres
        <br><textarea cols="40" rows="5" name="texto" onKeyUp="return limitar(event,this.value,100)" onKeyDown="return limitar(event,this.value,100)"></textarea></td>
    </p>
 
</body>
</html>